In [6]:
#strings
#str
string = ''
string_1 = "this is a string" #no difference between string and string 1

In [7]:
print(string_1)

this is a string

In [13]:
#Integers whole numbers 
#int
number = 50        #'50' this is a string

In [15]:
#float
#float 
decimal = 1.5 
demical = 2.0

In [8]:
#Booleans 
2+3==5

True

In [9]:
3+4 == 9

False

In [10]:
type(string_1)

str

In [14]:
type(number)

int

In [16]:
type(decimal)

float

In [18]:
dictionary = {}

In [20]:
type(dictionary)

dict

# String

In [6]:
#Accessing String Values 
#indicies

string = 'this is a fun course'  #a space in python is a character  #t=0,h=1,i=2

print(string[5])

i

In [9]:
#Slices

string[5:9]

'is a'

# Formatting String

In [13]:
name = 'eric'  #these aren't strictly needed
age = 29

introduction = 'Hello my name is {name} and i am {age} years old'.format(name='eric', age = 29)
introduction_1 = 'Hello my name is {0} and i am {1} years old'.format('eric', 29)
introduction_2 = 'Hello my name is {} and i am {} years old'.format('eric', 29)

print(introduction)
print(introduction_1)
print(introduction_2) #goes in order of how you list them after the format

Hello my name is eric and i am 29 years old
Hello my name is eric and i am 29 years old
Hello my name is eric and i am 29 years old

In [14]:
#f-strings
name = 'eric'
age = 29 

print(f'Hello my name is {name} and i am {age} years old')

Hello my name is eric and i am 29 years old

# Changing Strings

In [15]:
number_string = '100' #this is a string because of the ''

In [19]:
number_int = int(number_string)

In [20]:
print(number_int)

100

In [21]:
type(number_int)

int

In [25]:
new_str = str(number_int)

print(new_str)

100

In [28]:
type(new_str)

str

In [30]:
number_float = float(number_string) #float is a decimal 

type(number_float)

float

In [31]:
print(number_float)

100.0

In [32]:
number_2_str = str(number_float)

type(number_2_str)

str

In [ ]:
#changing a string involves "wrapping" the key word around it

# Concatenation

In [35]:
dog = 'Dogs'
cat = 'Cats'
pets = dog+' & ' +cat  #concatenation - combining two strings

print('I love both '+dog+' and '+cat)
print(pets)

I love both Dogs and Cats
Dogs & Cats

In [36]:
#index()

pets.index('&')

5

In [38]:
#isupper() #checks for uppercase (all uppercase)
pets = 'DOG CAT'
print(pets.isupper())

True

In [42]:
#islower() #checks for lowercase (all lowercase)

pets = 'dogs & cats'

print(pets.islower())

True

# User Inputs

In [43]:
user_query = input('Enter your full name: ')
user_query

Enter your full name:  Margaret Hylan

'Margaret Hylan'

In [48]:
user_query_1 = int(input('Enter a number between 0 and 10: '))

Enter a number between 0 and 10:  5

In [50]:
type(user_query_1) #everything is a string to change it you would have to wrap it int(input

int

In [52]:
add_ten = int(input('Enter a number between 0 and 10: ')) + 10

Enter a number between 0 and 10:  10

In [53]:
print(add_ten)

20

# Lists

In [55]:
empty_list = []  #empty list

my_list = [1,3,4,6,7,6,5,0] #allows duplicate values and out of order

In [57]:
#indexing 

my_list[5]

6

In [58]:
my_list

[1, 3, 4, 6, 7, 6, 5, 0]

In [61]:
#slicing 
print(my_list[4])
my_list[0:4] #does not include value at the 4th index

7

[1, 3, 4, 6]

In [62]:
print(my_list)
print(my_list[2])
print(my_list[5])

my_list[2:5]

[1, 3, 4, 6, 7, 6, 5, 0]
4
6

[4, 6, 7]

In [66]:
print(my_list[0:])

print(my_list[2:])

[1, 3, 4, 6, 7, 6, 5, 0]
[4, 6, 7, 6, 5, 0]

In [67]:
my_list[6:]

[5, 0]

In [68]:
my_list[:5]

[1, 3, 4, 6, 7]

In [70]:
my_list[-1] #this is the last number

0

In [72]:
my_list[-3] #third from last number

6

In [73]:
print(my_list)
print(my_list[2:-3])

[1, 3, 4, 6, 7, 6, 5, 0]
[4, 6, 7]

In [75]:
#Length
len(my_list) #how long is a my list

8

In [77]:
#appending or adding to a list 
#append()

my_list.append(3) #adding a 3

print(my_list)

[1, 3, 4, 6, 7, 6, 5, 0, 3, 3]

In [ ]:
#Maxtrixes

my_matrix = [[1,2,3], 
             [4,5,6], 
             [7,8,9]]

In [79]:
mix_list = ['Tom', 'Will', 'Mary', 3, 4, 5, 7, True, False, [4,5,34]]

# Tuples

In [80]:
empty_tuple = ()

print(empty_tuple)

()

In [81]:
my_tuple = ('basketball', 'football', 'tennis')
print(my_tuple)

('basketball', 'football', 'tennis')

In [82]:
my_tuple[0]

'basketball'

In [83]:
my_tuple[2]

'tennis'

In [84]:
my_tuple.append('Curling') # error you cannot add to a tuple

AttributeError: 'tuple' object has no attribute 'append'

In [85]:
my_tuple.remove('basketball') #error cannot remove from tuple

AttributeError: 'tuple' object has no attribute 'remove'

In [87]:
### the tuple constructor ====> tuple()

tuple_names = tuple(('Tom', 'Mary', 'Naomi'))

In [88]:
print(tuple_names)

('Tom', 'Mary', 'Naomi')

In [89]:
tup = 1,2,4,5

In [90]:
type(tup)

tuple

In [91]:
list_names = list(tuple_names)

In [92]:
type(list_names)

list

In [95]:
#cannot change tuple, but can change tuple to a list and add or remove and then change back to tuple 

list_names.append('Becky')

print(list_names)

['Tom', 'Mary', 'Naomi', 'Becky', 'Becky', 'Becky']

In [97]:
tuples_names = tuple(list_names)

type(tuple_names)

tuple

In [98]:
#how to remove a list from a tuple ==> 

list_names_remove = list(tuple_names)

In [99]:
type(list_names_remove)

list

In [100]:
list_names_remove

['Tom', 'Mary', 'Naomi']

In [101]:
list_names_remove.remove('Mary')

In [102]:
list_names_remove

['Tom', 'Naomi']

In [103]:
tuple_names = tuple((list_names_remove))
print(type(tuple_names))
print(tuple_names)

<class 'tuple'>
('Tom', 'Naomi')

In [107]:
tuple_pets = ('cat', 'dog', 'sparrow')

In [111]:
join_tuple = tuple_names + tuple_pets

join_tuple

('Tom', 'Naomi', 'cat', 'dog', 'sparrow')

In [112]:
tup_single = ('Python')

In [113]:
type(tup_single) #it says that it is a string bc it doesn't have a comma at the end

str

In [116]:
tup_single = ('Python',)
type(tup_single)

tuple

In [118]:
join_tupples_1 = join_tuple + tup_single

In [119]:
join_tupples_1

('Tom', 'Naomi', 'cat', 'dog', 'sparrow', 'Python')

In [ ]:
#built-in methods

#index()
#count()

In [122]:
join_tupples_1.index('cat')

2

In [123]:
join_tupples_1.count('cat')

1

# Basic Operators

## Arithemic Operators

In [ ]:
+ - * /

In [124]:
2+2

4

In [125]:
4*3

12

## Relational Comparsion

In [ ]:
<,>, ==, != (not eequal to), >=, <= (greater than or equal to)

In [141]:
5!=2

True

In [142]:
5!=5

False

## Assignment Operators

In [126]:
x = 5
print(x)

5

In [130]:
+=x+3 is the same as x = x+3

SyntaxError: invalid syntax (1626449289.py, line 1)

In [135]:
x+= 3
print(x)

18

In [132]:
x-= 1 is the same as x = x-1

SyntaxError: invalid syntax (3227538186.py, line 1)

In [129]:
x-=5
print(x)

6

In [ ]:
*= x*=5 is the same as x = x*5

In [137]:
x = 5 

x*=5

In [138]:
print(x)

25

In [ ]:
/= x/=5 is the same as x = x/5

In [140]:
x/=5
print(x)

1.0

## Logical Operators

In [ ]:
and, or , not

In [143]:
2 == 2 and 3 == 1

False

In [144]:
2 != 1 and 3 != 1 # both have to be true

True

In [145]:
2 == 2 or 3 == 1 # only one has to be true

True

In [147]:
list_1 = [1,2,3,4,1]
1 not in list_1  # saying that 1 is not in the list

False

# Membership Operators

In [148]:
list_1 =  [1,2,3,4,1]
100 not in list_1

True

# Identity Operator

In [149]:
# is and is not 
# used to compare the same object, not if the objects are equal

x = [1,2,3,4]
y  = [1,2,3,4]

z = x
x is y

False

In [150]:
x is z

True

# Conditionals

### Single if Statements

In [153]:
a = 10 
b = 100
c = 5 

if b > a: 
    print('b is greater than a')
else:
    print('A is greater than B')

b is greater than a

In [154]:
a = 100 
b = 100
#c = 100

if b > a: 
    print('b is greater than a')
elif b < a: 
    print('b is lesser than a')   # else if 
else:
    print('A  and B are equal')

A  and B are equal

### Nested if Statements

In [157]:
a = 10 
b = 100
c = 5 

if b > a: 
    if b > c:
        print("B is greater than both A and C")
    elif b < c:
        print('B is greater than A but less than C')
    else: print('B is greater than A but equal to C')

    
else:
        print('B is not greater than A')

B is greater than both A and C

In [158]:
a = 10 
b = 1
c = 5 

if b > a: 
    if b > c:
        print("B is greater than both A and C")
    elif b < c:
        print('B is greater than A but less than C')
    else: print('B is greater than A but equal to C')

    
else:
        print('B is not greater than A')

B is not greater than A

# Loops

### For Loops

In [159]:
cars = ['Benz', 'BMW', 'Audi']

print(cars [0])
print(cars [1])
print(cars [2])

Benz
BMW
Audi

In [161]:
for x in cars:     #same code result
    print(x)

Benz
BMW
Audi

### While Loops

In [163]:
i  = 0 
while i, < 10:
    print(i) # this really does run forever will break computer added (,) to ensure it doesnt run

In [164]:
i = 0 
while i < 10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

### Nested Loop

In [171]:
cars = [['Benz', 'BMW', 'Audi'], ['Ford','Dodge', 'Honda'], ['Toyota', 'Hyundai']]

for lists in cars:
    for models in lists: 
        if models == 'Ford':
            print('This list contains American cars')

This list contains American cars

# Control Statements

In [181]:
### continue
numbers = [1,2,3,4,5,6]

for i in numbers:
    if i == 3:
        continue 
        print(i)   # 1,2,4,5,6

In [182]:
def myFunction(Name):
    pass   #defined function but haven't told it what to do yet.. Will come back

In [184]:
### break 

i = 0 
while i < 10:
    print(i)
    if i == 3:
        break  #stop at 3 
    i+=1

0
1
2
3

# Construction of Dictionaries

In [188]:
empty_dict = {}
vechile = { "brand" : "ford", "Year": 2020, "model": "Mustang" }

In [190]:
print(vechile)

{'brand': 'ford', 'Year': 2020, 'model': 'Mustang'}

In [193]:
vechile['brand']

'ford'

In [195]:
assessment = {}

scores = [('Annie', 10), ('Maddie', 5), ('Becky',3)]

for name, score in scores:
    assessment[name] = score    #could have been name = x and scores = y
    
print(assessment)

{'Annie': 10, 'Maddie': 5, 'Becky': 3}

## Ordered / Unordered

In [196]:
# ordered: orderof the keys and values are maintained 
#unorderd: order of the keys and values are not maintained 

assessment.values()

dict_values([10, 5, 3])

# Changeable

In [197]:
assessment['Maddie'] = 8

In [198]:
print(assessment)

{'Annie': 10, 'Maddie': 8, 'Becky': 3}

## Update Method

In [203]:
latest_assessment = {'Annie': 9, 'Becky': 4}
assessment.update(latest_assessment)

In [204]:
print(assessment)

{'Annie': 9, 'Maddie': 8, 'Becky': 4}

## Duplicate (not allowed)

In [205]:
vechile = { "brand" : "ford", "Year": 2020, "model": "Mustang", "Year": 2021 }

In [206]:
print(vechile)

{'brand': 'ford', 'Year': 2021, 'model': 'Mustang'}

In [207]:
vechile.keys()

dict_keys(['brand', 'Year', 'model'])

In [209]:
vechile['Year']

2021

# Removal (Pop or Del)

In [211]:
vechile.pop('brand')

'ford'

In [212]:
print(vechile)

{'Year': 2021, 'model': 'Mustang'}

In [213]:
del(vechile['Year'])

In [214]:
print(vechile)

{'model': 'Mustang'}

In [215]:
del(vechile)

In [216]:
print(vechile) #vechile has been fully deleted

NameError: name 'vechile' is not defined

# Functions

### Creating a function

In [217]:
def myfunction():
    print('Hello')

In [218]:
myfunction()

Hello

### Arguments

In [220]:
def myfunction(name, age, height):
    print('Hello Everyone', 'My name is '+name+'. I am',age,' and I am',height,' cm tall')

In [221]:
name = 'Tom'
age = 25
height = 190

myfunction(name, age, height)

Hello Everyone My name is Tom. I am 25  and I am 190  cm tall

### Postional Argument

In [222]:
def team(name, project):
    print('The', name, 'are working on the',project,'project')

In [223]:
team('Plumbers', 'Water')

The Plumbers are working on the Water project

In [224]:
team('Water','Plumbers')

The Water are working on the Plumbers project

### Keyword Argument

In [225]:
def team(name, project):
    print('The', name, 'are working on the',project,'project')

In [226]:
team(name='Plumbers', project='Water')

The Plumbers are working on the Water project

In [227]:
team(project='Water', name='Plumbers')

The Plumbers are working on the Water project

### Anonymous Function (Lambda Functions)

In [228]:
x = lambda number: number + 10
print(x(20))

30

In [229]:
y = lambda number_1, number_2 : number_1 + number_2
print(y(10,2))

12

In [230]:
def addition(number_1, number_2):
    result = number_1 + number_2 
    return result
addition(10,2)

12

### Return Keyword

In [237]:
def get_even(numbers):
    even_numbers = []
    
    for i in numbers:
        if i % 2 == 0:
            even_numbers.append(i)
            
    return even_numbers

In [238]:
my_list = [1,2,3,4,5,6,7,8,9,10]
get_even(my_list)

[2, 4, 6, 8, 10]

### Default Arguments

In [239]:
def addition(number_1, number_2=100):
    result = number_1 + number_2 
    return result

In [240]:
addition(20)

120

In [241]:
addition(20,50)

70

In [242]:
def team2(name, project = 'Pipes'):
    print('The',name,'are working on the', project, 'project')

In [243]:
team2('Contractors')

The Contractors are working on the Pipes project

In [251]:
team2('Contractors', project = 'Pavement')

The Contractors are working on the Pavement project

# Calculator Project

In [263]:
while True: 
    #print out the menu 
    print (
        '''
        Calculator v1.0 Menu
        1. Add two numbers
        2. Subtract two numbers 
        3. Divide two numbers 
        4. Multiple two numbers 
        5. Calculate 8% tax on value 
        6. Calculate monthly payments, given a total amount and a number of years
        7. quit
        
        ''')
    #print out user input 
    UserChoice = int(input('Chose an Option from 1 - 6: '))
                           
    # if user chooses 1 , add 2 numbers 
    if UserChoice == 1:
            print('ADD TWO NUMBERS')
            number_1 = float(input('First number: '))
            number_2 = float(input('Second number: '))
            result = number_1 + number_2
            print('Result: ', result)
                                   
    #Else if user choose 2, subtract 2 numbers
    elif UserChoice == 2:
            print('SUBTRACT TWO NUMBERS')
            number_1 = float(input('First number: '))
            number_2 = float(input('Second number: '))
            result = number_1 - number_2
            print('Result: ', result)       
            
    #Dividing Two Numbers
    elif UserChoice == 3:
            print('DIVIDING TWO NUMBERS')
            number_1 = float(input('First number: '))
            number_2 = float(input('Second number: '))
            result = number_1 / number_2
            print('Result: ', result)       
            
    #Multiply two numbers 
    elif UserChoice == 4:
            print('MULTIPLY TWO NUMBERS')
            number_1 = float(input('First number: '))
            number_2 = float(input('Second number: '))
            result = number_1 * number_2
            print('Result: ', result)       
   
    #Calculate 8%      
    elif UserChoice == 5:
            print('CALCULATING 8% TAX ON A VALUE')
            amount = float(input('Enter Amount: '))
            result = amount * 0.08
            print('Result: ', result)       
    
    #Monthly Payment 
    elif UserChoice == 6:
        print('CACULATING MONTHLY PAYMENTS')
        amount = float(input('Enter total amount: '))
        number_of_years = float(input('Enter Number of years: '))
        payment = amount / (number_of_years * 12)
        print('Result: ', payment)
                                   
    #else if user chooses 7 -> quit program 
    elif UserChoice == 7:
        print("thank you. Goodbye")
        break

        Calculator v1.0 Menu
        1. Add two numbers
        2. Subtract two numbers
        3. Divide two numbers
        4. Multiple two numbers
        5. Calculate 8% tax on value
        6. Calculate monthly payments, given a total amount and a number of years
        7. quit

Chose an Option from 1 - 6:  7

thank you. Goodbye

# Time

### Epoch (beginning for Unix Systems)

In [278]:
import time as t

In [279]:
### time()
seconds = t.time()
print('Seconds since epoch:', seconds)

Seconds since epoch: 1708279949.0695114

In [282]:
#ctime()

local_time = t.ctime(seconds)
print('Local time at seconds:', local_time)

Local time at seconds: Sun Feb 18 10:12:29 2024

In [283]:
###sleep()

print('This is printed now')
t.sleep(10)
print('This was printed after 10 seconds')

This is printed now
This was printed after 10 seconds

In [284]:
#time.struct_time CLASS

In [285]:
#localtime()

local_time_strct = t.localtime(1708279949.0695114)
print(local_time_strct)

time.struct_time(tm_year=2024, tm_mon=2, tm_mday=18, tm_hour=10, tm_min=12, tm_sec=29, tm_wday=6, tm_yday=49, tm_isdst=0)

In [286]:
print(local_time_strct.tm_min)

12

In [287]:
#mktime()

t_tup = (2024, 2, 18, 10, 12, 29, 6, 49, 0)

seconds_since_epoch = t.mktime(t_tup)
print(seconds_since_epoch)

1708279949.0

# Calandar Module

In [288]:
import calendar

In [290]:
yy = 2024
mm = 2

print(calendar.month(yy,mm))

   February 2024
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29

In [292]:
# iterweekdays()
#0 - Monday
#1 - Tuesdays 
#2 - Wednesday
#3 - Thursday 
#4 - Friday 
#5 - Saturday 
#6 - Sunday 

cal = calendar.Calendar(firstweekday=6)

for x in cal.iterweekdays():
    print(x)

6
0
1
2
3
4
5

In [293]:
#itermonthdates()
yy = 2024 
mm = 2

print(calendar.month(yy, mm))

   February 2024
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29

In [294]:
#time tuple 

import datetime 

now_obj = datetime.datetime.today()

obj_timetup = now_obj.timetuple()

print(obj_timetup)

time.struct_time(tm_year=2024, tm_mon=2, tm_mday=18, tm_hour=10, tm_min=29, tm_sec=19, tm_wday=6, tm_yday=49, tm_isdst=-1)

In [295]:
print('Year:', now_obj.timetuple()[0])
print('Month:', now_obj.timetuple()[1])
print('Day:', now_obj.timetuple()[2])

Year: 2024
Month: 2
Day: 18

In [296]:
## getting current time 

from datetime import datetime

now = datetime.now()

current_time = now.strftime("%H:%M:%S")
print("Current time:", current_time)

Current time: 10:32:51

In [297]:
## Getting formatted time 

year = now.strftime("%Y")
print('Year:', year)

Year: 2024

In [298]:
month = now.strftime("%M")
print('Month:', month)

Month: 32

In [299]:
# print to the screen 

print("yay we printed")

yay we printed

In [300]:
user_query = input('What is your query')

What is your query dogs

## Reading and writing Files

In [301]:
file = open('Python_Fondations.txt', 'w')
file.write('this is the a tiring course')
file.close

# Classes and Objects

In [302]:
class Car:
    number_of_wheels = 4
    
ford = Car()
print(ford.number_of_wheels)

4

In [305]:
# the _init_() function

class Car:
    def __init__(self, make, model):
        self.make = make 
        self.model = model 

brand_1 = Car('Ford', 'Edge')
brand_2 = Car('Benz', 'C-300')
brand_3 = Car('Toyota', 'Corolla')

In [306]:
print(brand_1.make)
print(brand_1.model)
print(brand_2.make)
print(brand_2.model)

Ford
Edge
Benz
C-300

### Object Methods

In [309]:
class Car:
    def __init__(self, make, model, max_speed):
        self.make = make 
        self.model = model 
        self.max_speed = max_speed
        
    def drive(self):
        print('I am a' +self.make+' '+self.model+' '+' and i drive at a max speed of '+self.max_speed)
        
brand_1 = Car('Ford', 'Edge', '200miles/hr')
brand_2 = Car('Benz', 'C-300','260miles/hr')
brand_3 = Car('Toyota', 'Corolla', '180miles/hr')

In [310]:
brand_1.drive()

I am aFord Edge  and i drive at a max speed of 200miles/hr

In [311]:
brand_2.drive()

I am aBenz C-300  and i drive at a max speed of 260miles/hr

# Garbage Collections

In [312]:
boys = ['Tom', 'Harry', 'Will']

girls = ['Anna', 'Becky', 'Vanessa']

In [313]:
print(boys)

['Tom', 'Harry', 'Will']

In [314]:
for i,j in zip(boys,girls):
    print(i,'is married to',j)

Tom is married to Anna
Harry is married to Becky
Will is married to Vanessa

In [315]:
boys = ['George', 'Sam', 'Jim']

In [316]:
print(boys)

['George', 'Sam', 'Jim']

In [317]:
import sys 
sys.getrefcount(boys)

2

In [318]:
p = 1

In [319]:
print(p)

1

### Inheritance

In [320]:
class Person: 
    def __init__(self, first_name, last_name):
        self.first_name = first_name 
        self.last_name = last_name 
        
    def print_name(self):
        print('My name is', self.first_name, self.last_name)

In [321]:
sam = Person('Sam', 'Thompson')

In [322]:
sam.print_name()

My name is Sam Thompson

In [324]:
class Student(Person):
    def study(self):
        print('I am a math student')

In [325]:
student1 = Student('Boris', 'Williams')

In [326]:
student1.print_name()

My name is Boris Williams

In [327]:
student1.study()

I am a math student

In [329]:
class Automobile:
    def __init__(self, make, model):
        self.make = make 
        self.model = model 
        
    def accelerate(self):
        print('Move forward')
        
    def brake(self):
        print('Stop')
        
class Sedan(Automobile):
    pass

class SUV(Automobile):
    pass

In [330]:
vechile = Sedan('Ford', 'Escape')
vechile.accelerate()

Move forward

# Override

In [331]:
class Person: 
    def __init__(self, first_name, last_name):
        self.first_name = first_name 
        self.last_name = last_name 
        
    def print_name(self):
        print('My name is', self.first_name, self.last_name)

In [332]:
class Teacher(Person):
     def __init__(self, first_name, last_name):
            pass

In [333]:
t1 = Teacher('Sam', 'Johnson')

In [334]:
t1.print_name()

AttributeError: 'Teacher' object has no attribute 'first_name'

In [335]:
class Person: 
    def __init__(self, first_name, last_name):
        self.first_name = first_name 
        self.last_name = last_name 
        
    def print_name(self):
        print('My name is', self.first_name, self.last_name)

In [336]:
class Teacher(Person):
     def __init__(self, first_name, last_name):
            Person.__init__(self,first_name, last_name)

In [337]:
t2 = Teacher('Sam', 'Johnson')
t2.print_name()

My name is Sam Johnson

In [338]:
class Teacher(Person):
    def __init__(self, first_name, last_name):
        super().__init__(first_name, last_name)

In [339]:
t2 = Teacher('Sam', 'Johnson')
t2.print_name()

My name is Sam Johnson

In [342]:
class Teacher(Person):
    def __init__(self, first_name, last_name, subject):
        super().__init__(first_name, last_name)
        self.subject = subject 
        
    def course(self):
        print('I teach', self.subject)

In [343]:
t3 = Teacher('Sam', 'Johnson', 'Biology')

In [344]:
t3.course()

I teach Biology

In [345]:
t3.print_name()

My name is Sam Johnson

In [347]:
class Athelte(Person):
    def __init__(self, first_name, last_name, sport):
        super().__init__(first_name, last_name)
        self.sport = sport
        
    def play(self):
        print('I play', self.sport)

In [349]:
t4 = Athelte('Micheal', 'Jordan', 'Basketball')

In [350]:
t4.play()
t4.print_name()

I play Basketball
My name is Micheal Jordan

In [362]:
class Father(Athelte):
    def __init__(self, first_name, last_name, sport, child):
        super().__init__(first_name, last_name, sport)
        self.child = child

    def children(self):
        print('I have', self.child, 'children')

In [363]:
t5 = Father('Will', 'Thomas', 'Tennis', '2')

In [365]:
t5.print_name()
t5.play()
t5.children()

My name is Will Thomas
I play Tennis
I have 2 children

## Sets

In [366]:
my_set = {'apple', 'banana', 'orange', 'kiwi'}

In [367]:
my_set

{'apple', 'banana', 'kiwi', 'orange'}

In [368]:
my_set = {'apple', 'banana', 'orange', 'kiwi', 'kiwi', 'apple'}

my_set

{'apple', 'banana', 'kiwi', 'orange'}

In [369]:
#add()

my_set.add('grapes')
my_set.add('clementines')

my_set

{'apple', 'banana', 'clementines', 'grapes', 'kiwi', 'orange'}

In [370]:
#Remove()

my_set.remove('banana')

my_set

{'apple', 'clementines', 'grapes', 'kiwi', 'orange'}

In [371]:
type(my_set)

set

In [372]:
# set constructor 
#list, dicitonaries, tuples, set

In [373]:
list_1 = [1,2,4,5,7,86,3,2]

In [374]:
list_2_set = set(list_1)

In [375]:
type(list_2_set)

set

In [376]:
list_2_set

{1, 2, 3, 4, 5, 7, 86}

In [377]:
tuple_1 = ('Fred', 'Mary', 'Ben', 'Ben')

In [378]:
tuple_2_set = set(tuple_1)

In [379]:
tuple_2_set

{'Ben', 'Fred', 'Mary'}

## Range Functions

In [380]:
# range(start, stop, step)

In [381]:
range(5)

range(0, 5)

In [382]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [383]:
for i in range(4,10):
    print(i)

4
5
6
7
8
9

In [384]:
for i in range(4,10,2):
    print(i)

4
6
8

# Python GUI (Graphical User Interface)

In [385]:
import tkinter as tk 
from tkinter import *

In [399]:
# Creating a window with tkiner
import tkinter as tk

window = tk.Tk()

def click():
    entered_text = textentry.get()  #collect text from entry box

#Adding a title to the window
window.title('A simple login window')

# Creating Labels
label_1 = tk.Label(window, text="enter username", bg='black', fg='white', font='none 12 bold')
label_1.grid(row=0, column=0, sticky=tk.W)  # sticky is east or west

# Creating text entry box
textentry = tk.Entry(window, width=20, bg='white')
textentry.grid(row=1, column=0, sticky=tk.W)

# Creating password Label
label_2 = tk.Label(window, text="enter password", bg='black', fg='white', font='none 12 bold')
label_2.grid(row=3, column=0, sticky=tk.W)

# Creating text entry box for Password
pwd_entry = tk.Entry(window, width=20, bg='white', show='*')  # 'show' option to hide password
pwd_entry.grid(row=4, column=0, sticky=tk.W)

#Add Submit Button 
button= Button(window, text='Submit', width=7, command=click)
button.grid(row=6, column=0, sticky=W)

window.mainloop()